<launch>
	<arg name="db_hostname" default="localhost" />
	<arg name="db_port" default="62345" />
	<arg name="rgb_dump_dir" default="~/surface_based_object_learning_rgb_dump/" />
	<arg name="surface_roi_tag" default="Common" />
	<node name="object_learning_core" pkg="surface_based_object_learning" respawn="true" type="object_learning_core.py" args="$(arg surface_roi_tag) $(arg db_hostname) $(arg db_port) $(arg rgb_dump_dir)" output="screen"/>
</launch>
